[Desktop Entry]
Name=Стрела ДС
Comment=Start Strela Application
Exec=/home/arrow/vniizht/arrow_onboard_system/resources/shortcut/run_strela.sh
Path=/home/arrow/vniizht/arrow_onboard_system
Icon=/home/arrow/vniizht/arrow_onboard_system/resources/style/images/icon_arrow_main_256.png
NoDisplay=false
StartupNotify=true
Terminal=true
Type=Application

